In [2]:
import pymysql

In [3]:
mydb = pymysql.connect(
    host = "localhost",
    user = "root",
    password = "oluwaSogo_05")
mycursor = mydb.cursor()

In [6]:
mycursor.execute("CREATE DATABASE storemanagementdatabasesystem_2")

1

In [5]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'oluwaSogo_05',
    database = "storemanagementdatabasesystem_2"
)
mycursor = mydb.cursor()

In [5]:
mycursor.execute("show tables")

3

In [11]:
mycursor.execute("CREATE TABLE electronic_details(storeidnumber int not null, itemName VARCHAR(255), itemSerialNumber int not null, itemType VARCHAR(255), itemBrand VARCHAR(255), itemQuantity int not null )")

0

In [16]:
sql = "insert electronic_details(storeidnumber, itemName, itemSerialNumber, itemType, itemBrand, itemQuantity) values(%s,%s,%s,%s,%s,%s) "
values = [(1,'LG Television', 1,'Television', 'LG',16 ),
         (2,'GenPal inverter AC', 2,'Air Conditioner', 'Haier Thermocool',13 ),
         (3,'Edifier M206BT', 3,'Bluetooth Multimedia speaker', 'Edifier',20 ),
         (4,'UA55AU88100 55 inches smart Television', 4,'Television', 'Samsung',20 ),
         (5,'Polystar 45 inches TV', 5,'Television', 'Polystar',20),
         (6,'LG bottom freezer', 6,'Refrigerator', 'LG', 16 ),
         (7,'Front load washing machine', 7,'Washing machine', 'LG',22 ),
         (8,'Sumec Firman 4.5keystart', 8,'Generator', 'Sumec Firman',30 ),
         (9, 'Sony MHC-V13 speaker', 9, 'Speaker', 'Sony',12),
         (10, 'LG Dualcool inverter', 10, 'Air Conditioner', 'LG', 16)]
mycursor.executemany(sql,values) 
mydb.commit()

In [13]:
 mycursor.execute("show tables")

1

In [14]:
mycursor.execute("create table wear_details(storeidnumber int not null, itemName VARCHAR(255), itemSerialNumber int not null, itemType VARCHAR(255), itemBrand VARCHAR(255), itemQuantity int not null )")

0

In [15]:
sql_2 = "insert wear_details(storeidnumber, itemName, itemSerialNumber, itemType, itemBrand, itemQuantity) values(%s,%s,%s,%s,%s,%s)"
values_2 = [(1,'Nike Air Max Sunder', 11,'Shoe', 'Nike',30),
            (2, 'Corset Mini Dress', 12, "Gown", 'Versace',5),
            (3, 'Odissea sneakers', 13, 'Shoe', 'Versace', 7),
            (4, 'CD Diamond S3F', 14, 'Eyeglasses', 'Dior', 30),
            (5, 'Air jordan 1 low', 15, 'Shoe', 'Nike', 15),
            (6, 'LV Dermin cap', 16, 'Cap', 'Louis Vuition', 42),
            (7,'Saint Lauret', 17, 'Bag', 'Gucci', 32),
            (8, 'Pillow sneakers', 18, 'Shoe', 'Bottega veneta', 16),
            (9, 'Miu miu', 19, 'Bag', 'Gucci', 35),
            (10, 'Jacquard Greca Signature Jacket', 20, 'Jacket', 'Versace', 43)]
mycursor.executemany(sql_2,values_2)
mydb.commit()

In [17]:
mycursor.execute('show tables')

2

In [19]:
mycursor.execute('create table phone_details(storeidnumber int not null, itemName VARCHAR(255), itemSerialNumber int not null, itemType VARCHAR(255), itemBrand VARCHAR(255), itemQuantity int not null)')

0

In [20]:
sql_3 = "insert phone_details(storeidnumber, itemName, itemSerialNumber, itemType, itemBrand, itemQuantity) values(%s,%s,%s,%s,%s,%s)"
values_3 = [(1, 'Samsung Galaxy S22 Ultra', 21, 'Andriod Phone', 'Samsung', 50 ),
            (2, 'Iphone 13 pro max', 22, 'IOS Phone', 'Apple', 54),
            (3, 'Infinix Hot 10 Play', 23, 'Andriod Phone', 'Infinix',60),
            (4, 'Redmi Hot 10', 24, 'Andriod Phone', 'Redmi', 100),
            (5, 'Iphone XS Max', 25, 'IOS phone', 'Apple', 60),
            (6, 'Pixel 6 pro', 26, 'Andriod Phone', 'Google', 72),
            (7, 'Samsung Galaxy A20s', 27, 'Andriod Phone', 'Samsung', 60),
            (8, 'Xiaomi Poco C40', 28, 'Andriod Phone', 'Xiaomi', 52),
            (9, 'Lenovo XiaoXin Pad', 29, 'Andriod Tablet', 'Lenovo', 40),
            (10, 'Samsung Galaxy A13', 30, 'Andriod Phone', 'Samsung', 50)
           ]
mycursor.executemany(sql_3,values_3)
mydb.commit()

In [22]:
mycursor.execute("show tables")

3

In [6]:
mycursor.execute("show tables")

3

In [7]:
mycursor.execute("create table computer_details(storeidnumber int not null, itemName VARCHAR(255), itemSerialNumber int not null, itemType VARCHAR(255), itemBrand VARCHAR(255), itemQuantity int not null)")

0

In [9]:
sql_4 = "insert phone_details(storeidnumber, itemName, itemSerialNumber, itemType, itemBrand, itemQuantity) values(%s,%s,%s,%s,%s,%s)"
values_4 = [(1, 'Alienware M15 R7', 31, 'PC', 'Dell', 40),
            (2, 'OMEN Gaming laptop', 32, 'PC', 'HP', 45 ),
            (3, 'Swift 3 Intel', 33, 'PC', 'Acer', 30),
            (4, 'HP V22ve G5 FHD', 34, 'Monitor', 'HP', 55),
            (5, 'ConceptD 5', 35, 'PC', 'Acer',40 ),
            (6, 'Galaxy Book Odyssey', 36, 'PC', 'Samsung', 60),
            (7, 'Veriton Z', 37, 'Desktop', 'Acer',40),
            (8, 'Alienware X15 R2', 38, 'PC', 'Dell', 50),
            (9, 'MacBook Air', 39, 'PC', 'Apple', 35),
            (10, 'AIO 500 Series', 40, 'Desktop','Lenovo' ,55)]
mycursor.executemany(sql_4, values_4)
mydb.commit()