In [2]:
import pymysql

In [3]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'oluwaSogo_05'
)
mycursor = mydb.cursor()

In [4]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'oluwaSogo_05',
    database = "greenwayschoolmanagementsystem"
)
mycursor = mydb.cursor()

In [5]:
mycursor.execute('alter table staff details add column staffaddress text not null')
mycursor.execute('show column from staffdetails')
for x in mycursor:
    print(x)

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'details add column staffaddress text not null' at line 1")

In [ ]:
mycursor.execute('alter table staff details add column staffcontacts text not null after staffdob')
mycursor.execute('show column from staffdetails')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('alter table staffdetails modify column  staffcontact varchar(255) not null')
mycursor.execute('show columns from staffdetails')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('alter table staffdetails drop staffaddress')
mycursor.execute('show column from staffdetails')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('alter table staffdetails change column staffcontact staffphonenumber varchar(255) not null')
mycursor.execute('show column from staffdetails')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('alter table staffdetails rename to staffrecords')
mycursor.execute('show tables')
for x in mycursor:
    print(x)

In [ ]:
sql = 'insert into staffrecords(id,StaffName,staffgender,staffdob,staffphonenumber) values(%s,%s,%s,%s,%s)'
values = [(1, 'Janet Lawal', 'Female', '1987-02-22', '09033442245'),
          (2, 'Samuel Okoro', 'Male', '1990-06-06', '08134546523' ),
          (3, 'Jackson Akpan', 'Male', '1995-06-06', '09023123212'),
          (4, 'Susan Paul', 'Female', '1992-06-27', '070423352332'),
          (5, 'Ojukwu Oke', 'Male', '1991-12-24', '09145566777'),
          (6, 'Johan Akinlabi', 'Female', '1988-09-25', '08188558385'),
          (7, 'Patrick Ogunlade', 'Male', '1994-01-01', '09695956868')]
mycursor.executemany(sql,values)
mydb.commit()

In [ ]:
mycursor.execute('select * from staffrecords')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('update staffrecords set staffdob = "1989-06-06" where id = 2')
mycursor.execute('select * from staffrecords')
for x in mycursor:
    print(x)